.couple-background {
  background-color: $brand-color;
  height:60vh;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.couple-card {
  background-color: $white;
  height: 58vh;
  border: 2px solid $brand-color;
  border-radius: 3px;
  text-align: center;
  position: relative;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}


.couple-description {
  font-size: 18px;
  font-weight: bold;
  margin: 3px;
}
