

.event-background{
  background-color: white;
  height:350px;
  width: 300px;
  border: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.event-card {
  height:325px;
  width: 280px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  text-align: center;
  position: relative;

}

.event-date{

}

.event-description {
  font-size: 18px;
  font-weight: bold;
  margin: 3px;
}

.organiser-picture {
  position: absolute;
  margin: 10px;
}


.swipe-btn {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}


.swipe-left-btn {
  position: absolute;
  bottom: 10px;
  left: 30px;
  background-color: #E6E6E6;

}

.swipe-right-btn {
  position: absolute;
  bottom: 10px;
  right: 30px;
  background-color: #F80C54;
}

#swipe-no {
  height: 350px;
}

#swipe-yes {
  height: 350px;
}







