
.event-background {
  background-color: $brand-color;
  height:75vh;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
  }

.event-card > a {
  color: white;
  text-decoration: underline;
}

.event-card {
  height: 58vh;
  border-radius: 3px;
  text-align: center;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position:relative;
  box-shadow: 19px 23px 4px #A80338;
  transition: box-shadow 0.3s ease;
}

.event-card:hover{
box-shadow: 0px 0px 0px #A80338;
}


.event-card-front {
background-color: $white;
}

.event-card-back {
background-color: $white;
}


.event-date{
 margin: 10px;
 color: $brand-color;
 font-weight: bolder;
 font-family: $header-font;
}

.event-description {

  h2 {
    color: $brand-color;
    font-weight: bolder;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  h3 {
    color: #999999;
    font-size: 20px;
    margin: 2px;
    font-weight: bolder;
  }
}

.organiser-picture {
height: 140px;
margin-top: 25px;
margin-bottom: -25px;
  img{
    box-shadow: 1px 3px 2px #CCCCCC;
  }
}

.main-swipe-row {
  width: 100vw;
  position: absolute;
}

.swipe-btn {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.couple-swipe-left-btn {
  background-color: $gray-light;
}

.couple-swipe-right-btn {
  background-color: #F80C54;
}


.button-container {
  display: flex;
  justify-content: space-between;
  padding: 70px;
  width: 100%;
}


.swipe-block {
  height: 75vh;
  background-color :$white;
  z-index: -1;
  position: relative;
}

.top-row-swipe-block {
  height: 6vh;
  background-color :$white;
}

.row-interline {
  height: 6vh;
  background-color: $white;
}

.swipe-bottom {
  height: 34vh;
  background-color: $white;
}

.swipe-block-bottom {
  height: 34vh;
  background-color: $white;
}

.back-event-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.back-event-description {
 margin: 10px;
}

.back-no-guests {
  margin: 10px;
}

.end-card {
  color: white;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: none;
}

.swipe-yes{
  text-align: center;
  justify-content: center;
  display: flex;
  align-items:center;

  h2 {
    font-size: 40px;
    font-weight: bolder;
    color: $brand-color;
    opacity: 0.4;
  }

  img {
    opacity: 0.4;
  }
}

.swipe-no{
  text-align: center;
  justify-content: center;
  display: flex;
  align-items:center;

  h2 {
    font-size: 40px;
    font-weight: bolder;
    color: #D8D8D8;
    opacity: 0.8;
  }

  img {
    opacity: 0.8;
  }
}




