

.event-background {
  background-color: $brand-color;
  height:60vh;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.event-card {
  height: 58vh;
  border: 2px solid $brand-color;
  border-radius: 3px;
  text-align: center;

  flex: 1 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position:relative;
}

.event-card-front {
background-color: $beige-light;
}

.event-card-back {
background-color: $beige-light;
}


.event-date{
 margin: 10px;
}

.event-description {
  font-size: 18px;
  font-weight: bold;
  margin: 3px;
}

.organiser-picture {
height: 140px;

}



.main-swipe-row {
  width: 100vw;
  position: absolute;
}




.swipe-btn {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.swipe-left-btn {
  background-color: $gray-light;
}

.swipe-right-btn {
  background-color: #F80C54;
}


.button-container {
  display: flex;
  justify-content: space-between;
  padding: 70px;
  width: 100%;
}




.swipe-block {
  height: 60vh;
  background-color :$white;
  z-index: -1;
  position: relative;
}

.top-row-swipe-block {
  height: 6vh;
  background-color :$white;
}

.row-interline {
  height: 6vh;
  background-color: $white;
}

.swipe-bottom {
  height: 34vh;
  background-color: $white;
}

.swipe-block-bottom {
  height: 34vh;
  background-color: $white;
}

.back-event-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.back-event-description {
 margin: 10px;
}

.back-no-guests {
  margin: 10px;

}

.end-card {
  color: white;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;

}

