.card-events {
  background-color:white;
  color: black;
  position: relative;
  margin-bottom: 10px;
  border-radius: 2px;
  padding: 15px 0px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 4px solid $beige-dark;
  transition: all ease 0.2s;
  padding: 10px;
  h5 {
    font-size: 12px;
    color: grey;
  }
  h4 {
    font-size: 14px;
    line-height: 1.5;
    color: $brand-color;
  }
}

.card-notification {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  color:white;
}

.label {
  padding: 0.5em 1em 0.5em;
  font-size: 10px;
}
.label-new {
  background-color: red;
}

.bg-grey {
  background-color: #E6E6E6;
  min-height: 100vh;
}

.line-separation {
   padding-bottom: 15px;
   border-bottom: 1px solid $fraise-light;
   margin-bottom: 20px;
   color: $brand-color;
}

.title-spacing {
  letter-spacing: 0.2em;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 0 10px
}

.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}


.tabs h2 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}

.tab {
  background: $fraise-light;
  flex: 0 0 50%;
  text-align: center;
  padding: 20px 0;
}

.tab.active {
  background: $brand-color;
  color: black;
}

.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
