.card-event-profile {
    width: 100%;
    background-color:white;
    color: black;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border: 4px solid $beige-dark;
    transition: all ease 0.2s;
    padding: 10px;
    overflow: hidden;
    img {
      vertical-align: center;
    }
    h5 {
      font-size: 12px;
      color: grey;
    }
    h4 {
      font-size: 16px;
    }
}

.form-inbox {
    float: right;
    position: relative;
    width: 55%;
}

.form-message-background {
  background-color: $beige-light;
}

.message-current-user {
  background-color: $brand-color;
  color: white;
  margin: 15px 0px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 55%;
  float: right;
  position: relative;
  img {
    float: right;
  }
  p {
    color: grey-lighter;
    font-size: 12px;
  }
  h4 {
    font-size: 14px;
  }
}

.message-other-user {
  background-color: $fraise-light;
  color: $gray-dark;
  margin: 15px 0px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 55%;
  float: left;
  position: relative;
  img {
    float: right;
  }
  p {
    color: grey-lighter;
    font-size: 12px;
  }
  h4 {
    font-size: 14px;
  }
}

.btn-custom {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0px;
  float:right;
}

.avatar-event-profile {
  height: 140px;
  position: absolute;
  top: 20%;
  left:5%;
}

.no-text-decoration {
  a {
    text-decoration:none;
    color: $brand-color;
  }
  a:hover {
    text-decoration: none;
    color: $fraise-light;
  }
}

.swipe-guests {
  background: $fraise-light;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  a:hover {
    color: $fraise-light;
  }
}

.edit-event {
  background: $beige-light;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  a:hover {
    color: $fraise-light;
  }
}

.container-show-event {
  width: 85%;
  margin: 0 auto
}

.update-event-show {
  a {
    font-size: 12px;
    color: $gray-light;
    text-decoration:none;
    line-height: 2;
    padding: 30px 20px 10px 20px;
  }
  a:hover {
    color: $brand-color;
    transition: all 0.3s ease;
  }
}
