<h1>Liste de vos evenements</h1>
<div class="container">
   <div class="row">
     <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= @couple.nickname %>
      <% @user.demands.each do |event| %>
        <p>Evenemement organize le <%= event.date %></p>
        <p>A <%= event.city%></p>
        <p>Description <%= event.description %> </p>
      <% end %>
    </div>
  </div>
</div>
