<!--
<div data-role="page" id="pageone">
  <div class="container">
    <div class="row">
      <div class="col-xs-2" id='swipe-no' style="height: 300px;"></div>
      <div class="col-xs-8 event-background" id="event-background1" style="height:300px; width: 300px; border: 1px solid grey;">
        <div class="event-card" id="event-card1" style=" height:200px; width: 200px; border: 1px solid grey;">
        <h3>This is an event card</h3>

        </div>
      </div>
      <div class="col-xs-2" id='swipe-yes' style="height: 300px;"></div>
    </div>
  </div>
</div> -->

<ul>

  <% @events_for_display.each do |event| %>
    <li><%= event.date %> <%=event.description %> <%=link_to "Yes", couple_event_swiperight_path(current_couple, event) %> <%=link_to "No", couple_event_swipeleft_path(current_couple, event) %></li>

  <% end %>

</ul>







<!-- <script src="http://code.jquery.com/jquery-1.12.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script src="jquery.ui.touch-punch.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script>
  $(document).on("pagecreate","#pageone",function(){
    $('#event-card1').draggable();
    $('#swipe-no').droppable({
      drop: function(event, ui) {
        $('#event-card1').hide();
      }
    });
    $('#swipe-yes').droppable({
      drop: function(event, ui) {
        $('#event-card1').hide();
      }
    });
  });
</script>
 -->







