/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.btn-marged {
  margin-right: 40px !important;
  margin-left: 0 !important;
  border-radius: 2px;
}

.btn-unmarged {
margin-top: -50px;
}

.input-unmarged {
  margin-bottom: 0px;
}

// Navbar
.pink-hamburger {
  color: $brand-color !important;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.btn-nice {
  padding: 20px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0px;
  margin: 0px 5px;
}

.background-form {
  background-color: $brand-color;
  text-align: center;
  height: 100vh;
  // margin-top: -70px;
  // padding-top: 90px;
  background-size: cover !important;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  font-size: 11.5px;
}

.background-profile {
  background-color: $brand-color;
  text-align: center;
  height: 100vh;
  margin-top: -70px;
  padding-top: 90px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11.5px;
}

.background-couple-show{

  background-color: white;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: 100%;
  border: $brand-color 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11.5px;
  text-align: center;
  h3,li {
  color: #aeaeae;
  font-weight: bolder;
  font-size: 20px;
  margin: 0 auto;
}
}

.form-container-profile {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-size: cover !important;
}

.form-container {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-size: cover !important;
}

.form-title {
  width: 300px;
  color: white;
  font-weight: bolder;
  font-size: 35px;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 30px;
}

.form-title-h3 {
  color: white;
  font-weight: bolder !important;
  font-size: 35px;
  padding-top: 20px;
}

.title-event-padded {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-home-title h3 {
  width: 300px;
  color: #aeaeae;
  font-weight: bolder;
  font-size: 35px;
  margin: 0 auto;
  padding-top: 20px;
}

.title-home-punchline {
  color: white;
  font-weight: bolder !important;
  font-size: 35px;
  padding-top: 20px;
  letter-spacing: 0.1em;
}

// #title-de-retour {
//   width: 300px;
//   color: white;
//   font-weight: bolder;
//   font-size: 35px;
//   margin: 0 auto;
//   padding-top: 20px;
// }

.form-text {
  color: white;
}

.form-text-profile {
  color: white;
  font-size: 14px;
}

.form-home-text-profile {
  color: #aeaeae;
  font-size: 14px;
}

.form-group {
  margin-bottom: 30px;
}

.control-label {
  margin-bottom: 10px !important;
}

.form-inputs-background {
  background-color: $beige-light;
  border-radius: none !important;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 30px;
  margin-top: 5px;
  padding-top: 10px;
}

.form-inputs {
  text-align: left;
  align-items: left !important;
  justify-content: left;
}

#couple_remember_me {
  margin: 2px;
  margin-left: -20px;
}

.form-btn-margin {
  margin: 20;
}

.form-submit-btn {
  background-color: $brand-color;
  color: white;
  border: 1px solid white;
  padding: 17px 20px;
  font-size: 13px;
  font-weight: bolder;
  border-radius: none;
  text-decoration: none;
}
.form-submit-btn:hover {
  background-color: white;
  color: $brand-color;
  transition: all 0.3s ease;
  border: 1px solid white;
  text-decoration: none;
}

.form-submit-btn-small {
  padding: 12px 15px;
  font-size: 13px;
  font-weight: bolder;
  border-radius: none;
  background-color: white;
  color: $brand-color;
  transition: all 0.3s ease;
  border: 1px solid white;
}

.form-footer {
  color: white;
  text-decoration: none;
  text-align: right;
  font-weight: bold;
  margin-top: 20px;
}
.form-footer:hover {
  color:white;
  transition: all 0.3s ease;
}
.form-footer a {
  padding: 0 20;
}

.flex-home-container{
  display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 250px;
    background-color: $brand-color;
    margin: 0 auto;
    margin-bottom: 10px;
}

.flex-home-item-top{
    height: 140px;
    background-color: $brand-color;
    padding: 15px 10px 10px 10px;
    h5{
      color: white;
      font-weight: bolder;
      margin-top: 0px;
      // padding-top: 10px;
    }
    p{
      color: white;
      margin-top: 0px;
      padding: 0px 20px 0px 20px;
      font-size: 13px;
    }
}
.flex-home-item-bottom{

    border-top: 1px solid #aeaeae;
    height: 140px;
    background-color: $brand-color;
    padding: 15px 10px 10px 10px;
    h5{
      color: white;
      font-weight: bolder;
      margin-top: 0px;
      // padding-top: 10px;
    }
    p{
      color: white;
      margin-top: 0px;
      padding: 0px 20px 0px 20px;
      font-size: 13px;
    }
}
.show-title{
 h1{
      color: $brand-color;
    }
  p{
      color: #aeaeae;
    }
}

.p1{
  color: #aeaeae;
  font-weight: bolder;
}

.p2{
  color: $brand-color;
  font-weight: bolder;
}

.container-line {
  margin-top: 40px;
  display: flex;
  flex-flow: row nowrap; /* Align on the same line */
  justify-content: space-between; /* Equal margin between the child elements */
}

.shadow-right {
    // box-shadow: 12px 0px 4px 1px #CD0243;
    // z-index: 2;
}
.remove-bootstrap-padding{
  // margin-left: -15px;
}


.badges {
  display:flex;
  justify-content:space-around;
  align-items: bottom;
}

.fraise-ranking {
  display:flex;
  justify-content: end;
  align-items: center;
  img {
    width: 30px;
    height: 30px;
  }
}

.image-gif {
  height: 100vh;
  max-width:450px;
  overflow: hidden;
  box-shadow: 15px 0px 20px #B00B3E;
  // background-size: cover;
  //
  position: relative;
  background-image: image-url("couple.gif");
  margin-left: -15px;
}

.image-gif-2 {
  height: 100vh;
  max-width:450px;
  overflow: hidden;
  box-shadow: 15px 0px 20px #B00B3E;
  // background-size: cover;
  //
  position: relative;
  background-image: image-url("Fraise1.gif");
  margin-left: -15px;
}

.image-gif-3 {
  height: 100vh;
  max-width:450px;
  overflow: hidden;
  box-shadow: 15px 0px 20px #B00B3E;
  // background-size: cover;
  //
  position: relative;
  background-image: image-url("fraise2.gif");
  margin-left: -15px;
}
