/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.navbar-marged {
  margin-top: 70px;
}


.basic_bg {
  background-color: $brand-color;
  height: 100vh;
}



.btn-nice {
  padding: 20px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0px;
  margin: 0px 5px;
}
