/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  z-index: 12;
  margin-top: 70px;
  text-align: center;
  color: $brand-color;
  position:fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.alert-info {
  background: $white;
}

.alert-warning {
  background: $white;
}

.alert-danger {
  z-index: 12;
  margin-top: 70px;
  text-align: center;
  color: $brand-color;
  position:fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}
