// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "sweetalert";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

.event-background{
background-color: white;
}

.btn-marged {
  padding: 13px 18px;
  margin: 0 10px;
  font-size: 13px;
}

.btn-grey {
  color: $white;
  background-color: $gray-light;
  border-color: $gray-light;
}
.btn-grey:hover {
    color: $white;
    background-color: #444;
    border-color: #444;
  }

.form-background {
  background-color: $brand-color;
  height: 100vh;
}
