// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";



.event-background{
background-color: white;
}

.btn-marged {
  padding: 13px 18px;
  margin: 0 10px;
  font-size: 13px;
}
